section {
  position: relative;
  height: 772px;
  background: url("../img/bg.png") no-repeat 0 -70px; }
  section form {
    position: absolute;
    left: 530px;
    top: 30px;
    width: 380px;
    height: 646px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    /* Rounded sliders */ }
    section form h2 {
      margin: 0;
      margin-top: 40px;
      margin-bottom: 10px;
      font-family: 'Quicksand-Bold',sans-serif;
      letter-spacing: 1.2px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #1F2041; }
    section form h3 {
      margin-top: 22px;
      margin-bottom: -5px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.7px;
      color: #1F2041; }
    section form #enterEmail, section form #enterPassword, section form #name, section form #second_name, section form #date {
      padding: 10px 0 10px 15px;
      letter-spacing: 1.4px;
      margin-top: 10px;
      width: 320px;
      height: 44px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      color: rgba(31, 32, 65, 0.25); }
    section form #enterPassword {
      margin-top: 10px; }
    section form .btnEnter {
      position: relative;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
      border-color: #BC9CFF;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      padding: 16px 94px 16px 94px;
      top: 19px;
      letter-spacing: 0.6px; }
    section form .switch-container {
      margin-top: 9px; }
    section form .switch {
      position: relative;
      display: inline-block;
      float: left;
      width: 40px;
      height: 20px; }
    section form input[type="checkbox"] {
      display: none; }
    section form .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid;
      border-color: #ccc;
      background-color: none;
      -webkit-transition: .4s;
      transition: .4s; }
    section form .slider:before {
      position: absolute;
      content: "";
      height: 11px;
      width: 11px;
      left: 4px;
      bottom: 4px;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s; }
    section form input:checked + .slider {
      background-color: #BC9CFF; }
    section form input:focus + .slider {
      box-shadow: 0 0 1px #2196F3; }
    section form input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      background-color: white; }
    section form .slider.round {
      border-radius: 34px; }
    section form .slider.round:before {
      border-radius: 50%; }
    section form p {
      display: inline-block;
      margin-top: -3px;
      letter-spacing: 1.1px;
      color: rgba(31, 32, 65, 0.75);
      font-size: 14px;
      line-height: 24px;
      margin-left: 10px;
      float: left; }
    section form .radioButtons {
      margin-top: 8px;
      color: rgba(31, 32, 65, 0.75);
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1.1px; }
      section form .radioButtons input[type="radio"] {
        display: none; }
      section form .radioButtons .radioButton {
        margin-right: 15px; }
      section form .radioButtons label {
        content: "";
        margin-right: 12px;
        vertical-align: middle;
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        background: none;
        border: 1px solid #ccc;
        border-radius: 50%; }
      section form .radioButtons input[type="radio"]:checked + label:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 50%; }
    section form .downBox {
      width: 100%;
      margin-top: 75px; }
      section form .downBox p {
        margin-left: 0;
        display: inline-block;
        letter-spacing: 0.8px;
        float: left;
        font-size: 14px;
        line-height: 18px; }
      section form .downBox .btnCreate {
        z-index: 0;
        position: relative;
        display: inline-block;
        float: right;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: #BC9CFF;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-top: -15px;
        margin-right: 0px;
        text-transform: uppercase;
        border-radius: 22px;
        padding: 14px 28px; }
      section form .downBox .btnCreate:before {
        content: "";
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border-radius: 22px;
        background: white; }
    section form .box {
      width: 320px;
      margin: 0 auto; }

/*# sourceMappingURL=style_SignUp.css.map */
