extends components/head.pug
block variables
	- var title = 'Toxin Регистрация'
block scripts
	link(rel='stylesheet', href='css/style_landing.css')
	link(rel='stylesheet', href='css/calendar.css')
	script(src="js/jquery-1.12.4.js")
	script(src="js/jquery-ui.js")
	script(src="js/calendar.js")
block content
	//- Include header
	include ./components/header.pug
	//- Include regContent
	include ./components/landingContent.pug
	//- Include footer
	include ./components/footer.pug
	//- Include footer-copyright file
	include ./components/footer-copyright.pug
	script(src="js/popup.js")