footer
	div.container
		div.toxin
			a(href="landing.html").logo 
				img(src="img/Logo.jpg")
			p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отдельные взгляды»
		div.navigation
			ul.navigation-list
				li.navigation-list-item
					a Навигация
				li.navigation-list-item
					a О нас
				li.navigation-list-item
					a Новости
				li.navigation-list-item
					a Служба поддержки
				li.navigation-list-item
					a Услуги
		div.aboutUs
			ul.about-list
				li.about-list-item
					a О нас
				li.about-list-item
					a О сервисе
				li.about-list-item
					a Наша команда
				li.about-list-item
					a Вакансии
				li.about-list-item
					a Инвесторы
		div.support
			ul.support-list
				li.support-list-item
					a Служба поддержки
				li.support-list-item
					a Соглашения
				li.support-list-item
					a Сообщества
				li.support-list-item
					a Связь с нами
		div.follow
			ul.follow-list
				li.follow-list-item
					a Подписка
				li.follow-list-item
					a Получайте специальные предложения и новости сервиса
				li.follow-list-item
					input(
					type="text"
					name="email"
					id="email"
					placeholder="Email"
					)
					span.arrow
