div.footer-copyright
	div.container
		div.textblock
			p Copyright © 2018 Toxin отель. Все права зачищены.
		div.social
			div.social-item.social-tw
			div.social-item.social-fb
			div.social-item.social-in