header.header
  div.container.clearfix
    a(href="landing.html").logo 
     img(src="img/Logo.jpg")
    ul.list
     li
      a(href="#") О нас
     li
      a.dropList(href="#") Услуги
     li
      a(href="#") Вакансии
     li
      a(href="#") Новости
     li
      a.dropList(href="#") Соглашения
    div.buttons
     a.buttonEnter(href="index.html") Войти
     div.buttonReg 
      a.buttonRegestration(href="innerReg.html") Зарегистрироваться 